$color-previous: gray;//#ff3b00;
$color-gas: #42f365;
$color-minerals: #3abff0;

.colorNumbers {
  // color: #2185d0;
  // color: #45e67e;
  color: $color-minerals;
}

.colorPrevious {
  color: $color-previous;
}

.colorGas {
  color: $color-gas;
}

.colorMinerals {
  color: $color-minerals /*#3dd1ed*/;
}

.colorTest{
  color: grey
}