.headerWrapper {
  font-size: 2em;
  line-height: 1.2em;
  margin-top: 60px;
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr 75px 1fr;

  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(34,36,38,.15);

  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr;
  }

  .vs {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image-slice: 1;

    @media only screen and (max-width: 767px) {
      border-bottom: none;
    }
  }
}

.playerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 5px;
  .race {
    color: gray;
  }
}

.p1 {
  @extend .playerWrapper;
  justify-content: flex-start;
  text-align: left;
  border-bottom-left-radius: 10px;
  padding: 14px 6px 0 6px;

  @media only screen and (max-width: 767px) {
    border-top-width: 5px;
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.p2 {
  @extend .playerWrapper;
  justify-content: flex-end;
  text-align: right;
  border-bottom-right-radius: 10px;
  padding: 0 6px 14px 6px;

  @media only screen and (max-width: 767px) {
    border-bottom-width: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.resultIcon {
  margin: 0!important;
}
