$color-win: limegreen;
$color-lose: crimson;

.headerWrapper {
  font-size: 36px;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr 75px 1fr;

  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(34,36,38,.15);

  .vs {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image-slice: 1;
  }

  .vsWinLose {
    border-image-source: linear-gradient(to right, $color-win, $color-lose);
  }

  .vsLoseWin {
    border-image-source: linear-gradient(to right, $color-lose, $color-win);
  }
}

.playerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 14px;
  .race {
    color: gray;
  }
}

.p1 {
  @extend .playerWrapper;
  text-align: left;
  border-bottom-left-radius: 10px;
}

.p2 {
  @extend .playerWrapper;
  text-align: right;
  border-bottom-right-radius: 10px;
}

.winner {
  border-bottom: 5px solid limegreen;
}

.loser {
  border-bottom: 5px solid crimson;
}