.wrapper {
  padding: 10px;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  z-index: 1;
  border-radius: 5px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}