$background-color: #f0f2f5;
$font-color-primary: #383838;

body {
  background-color: $background-color !important;
}

.ui.header, ui.breadcrumb {
  color: $font-color-primary!important;
}

#base-segment {
  background-color: $background-color;
}

.d-flex {
  display: flex!important;
}

.flex-wrap {
  flex-wrap: wrap!important;
}

.flex-column {
  flex-direction: column!important;
}

.align-items-center {
  align-items: center!important;
}

.justify-content-center {
  justify-content: center!important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.justify-content-around {
  justify-content: space-around!important;
}

.justify-content-evenly {
  justify-content: space-evenly!important;
}

.justify-content-end {
  justify-content: flex-end!important;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right !important;
}

.m-0 {
  margin: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.m-2 {
  margin: 0.5rem!important;
}

.mt-2 {
  margin-top: 0.5rem!important;
}

.mr-2 {
  margin-right: 0.5rem!important;
}

.mb-2 {
  margin-bottom: 0.5rem!important;
}

.ml-2 {
  margin-left: 0.5rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}
.mr-4 {
  margin-right: 1.5rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.ml-4 {
  margin-left: 1.5rem!important;
}

.my-4 {
  margin-bottom: 1.5rem!important;
  margin-top: 1.5rem!important;
}

.image-dropshadow {
  filter: drop-shadow(5px 5px 5px #111);
}

.ui.search.search-input-wrapper {
  input {
    border-radius: 100px;
    width: 200px;
    transition: width ease-in-out 100ms;

    &:focus {
      width: 400px;
    }

    &:not(:focus) {
      border: none;
    }
  }
  .results.visible {
    width: 100% !important;
  }
}

.heatmap-canvas {
  width: 100%
}

.responsive-tab-container {
  @media only screen and (max-width: 991px) {
    .four.wide.column {
      display: none !important;
    }
    .twelve.wide.column {
      width: 100% !important;
    }
  }
}
