$background-color: #f0f2f5;

body {
  background-color: $background-color !important;
}

#base-segment {
  background-color: $background-color;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.my-4 {
  margin-bottom: 1.5rem!important;
  margin-top: 1.5rem!important;
}

.image-dropshadow {
  filter: drop-shadow(5px 5px 5px #111);
}