$protossLight: rgb(246 243 213);
$protossBorder: #ffc886;
$terranLight: #d5ddf6;
$terranBorder: #97b0f8;
$zergLight: rgb(229 213 246);
$zergBorder: #d075d0;

.vis-timeline {
    width: 100%!important;
    border: none!important;
}

.vis-text.vis-major {
    display: none;
}

.vis-item {
    &.vis-line, &.vis-dot {
        &.race-Protoss {
            border-color: $protossBorder;
        }

        &.race-Terran {
            border-color: $terranBorder;
        }

        &.race-Zerg {
            border-color: $zergBorder;
        }
    }
}
